// primary
$primary-dark: #cc3b07;
$primary: #e0531f;
$primary-medium: #e56637;
$primary-light-1: #f08e69;
$primary-light-2: #f5a384;
$primary-light-3: #fab9a0;
$primary-light-4: #ffcfbd;
$primary-light-5: #ffe1d6;

// gray
$gray-1: #252626;
$gray-2: #3e4040;
$gray-3: #575959;
$gray-4: #707273;
$gray-5: #a2a5a6;
$gray-6: #d5d8d9;
$gray-7: #e1e5e6;
$gray-8: #f2f4f5;
$gray-9: #ffffff;

// system
$success-1: #19662c;
$success-2: #30c355;
$success-3: #47cc69;
$success-4: #60d67e;
$success-5: #7be095;
$success-6: #98ebad;
$success-7: #b8f5c7;
$success-8: #d9ffe2;
$success-9: #f2fff5;

$error-1: #7a2518;
$error-2: #c73c27;
$error-3: #d1523f;
$error-4: #db6958;
$error-5: #e58273;
$error-6: #f09d90;
$error-7: #fab9af;
$error-8: #ffd3cc;
$error-9: #ffe9e5;

$info-1: #365082;
$info-2: #557ece;
$info-3: #6f93d9;
$info-4: #8aa9e3;
$info-5: #a8c0ed;
$info-6: #c8d8f7;
$info-7: #e8f0ff;

$warning-1: #e18802;
$warning-2: #ffb648;
$warning-3: #ffc061;
$warning-4: #ffca7a;
$warning-5: #ffd494;
$warning-6: #ffe2b8;
$warning-7: #ffedd1;
