.add-to-fav-btn {
  padding: 6px;
  border-radius: 50%;
  border: 2px solid colors.$primary-dark;
  background-color: colors.$gray-9;
  display: flex;
  transition: 0.2s linear background-color;
  cursor: pointer;

  svg {
    color: colors.$primary-dark;

    path {
      fill: transparent;
      transition: 0.2s linear fill;
    }
  }

  &:hover {
    background-color: colors.$primary-light-5;
  }

  &--active {
    background-color: colors.$primary-light-4;

    svg path {
      fill: colors.$primary-dark;
    }
  }
}
